@import url("./color.css");

.App {
    text-align: center;
    background-color: var(--app-background);
    height: 100vh;
    font-family: 'Montserrat', Arial, sans-serif;
    color: var(--blue-0);
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
}

/* accountoptions */
.side-menu {
    background-color: var(--blue-0);
    border-radius: 0.703125vh;
    width: 16vw;
    height: 100vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--light-grey-2);
    padding: 0;
}

.side-menu-item {
    padding: 2.8125vh 2vw;
    line-height: 4.21875vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.side-menu-item:hover {
    background-color: var(--white-1);
}

.side-menu-item:hover p {
    color: var(--blue-0) !important;
}

.side-menu-item div {
    width: 4.921875vh !important;
    margin-left: 5px;
    margin-right: 5px;
}

/* header */
.header {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-item {
    display: block;
    float: left;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    cursor: pointer;
    color: var(--blue-0);
}

.header-item p:hover {
    color: #09318c;
    /* font-weight: 500; */
}

/* accountoptions */

.account-menu {
    position: relative;
}

.account-menu-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--white-1);
    z-index: 1000 !important;
    border-radius: 0.703125vh;
    min-width: 16vw;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--light-grey-2);
    /* padding: 2.8125vh 2.8125vh 0 2.8125vh !important; */
}

.menu-item {
    margin: 2.8125vh 1vw;
    /* width: 100%; */
    line-height: 4.21875vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: var(--light-grey-1);
}

.menu-item p {
    margin-left: 10px !important;
}

.menu-item div {
    width: 4.921875vh !important;
    margin-left: 5px;
    margin-right: 5px;
}


/* Styles for the detail page */
.detail-page {
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}

/* invite table starts here */
.tenant-table-container {
    width: 97%;
    height: fit-content;
    max-height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid var(--table-border);
    border-radius: 10px !important;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 856px) {
        width: 94vw;
    }
}

.tenant-table-container table {
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border: none;
    border-spacing: 0px !important;
    /* @media only screen and (max-width: 600px) {
        width: 800px;
    } */
}

.tenant-table-container thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: separate;
    font-size: 2.25vh;
}

.tenant-table-container tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.tenant-table-container th,
td {
    vertical-align: center;
    height: 3.25rem;
    text-align: start;
    padding: 0rem 1.96875vh;
    font-weight: 500;
}

.tenant-table-container tbody tr {
    height: 2.81rem;
}

.tenant-table-container tr:not(:last-child) td,
th {
    border-bottom: 1px solid var(--table-border);
}

.tenant-table-container th {
    /* color: var(--black-14); */
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--white-1);
}

/* invite table ends here */

/* Info button  */
.info-container {
    position: relative;
}

.popup {
    position: absolute;
    top: 100% !important;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: var(--white-1);
    min-width: 2rem;
    width: fit-content;
    max-width: 12rem;
    height: auto;
    /* min-height: 2.25vh; */
    padding: 0.5rem;
    font-size: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--light-grey-2);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.info-text-wrap {
    white-space: pre-line;
}

.infoIcon {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding: 0;
    width: auto;
}

/* Drawer */
.drawer-shadow {
    box-shadow: 0px 3px 26px var(--black-16);
}


/* ufm profile */
.input {
    width: 21.5vw !important;
    height: 2.5rem;
    padding: 1rem;
}

.width {
    width: 21vw;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* color classes */
.color-rejected {
    color: var(--rejected-0);
}

.color-black-0 {
    color: var(--black-0);
}
.color-black-5 {
    color: var(--black-5);
}

/* background color css */
.bg-blue-0 {
    background-color: #003da5;
}

/* font size class  */
.fs-9 {
    font-size: 1.265625vh;
}

.fs-10 {
    font-size: 1.40625vh;
}

.fs-11 {
    font-size: 1.548vh;
}

.fs-12 {
    font-size: 1.6875vh;
}

.fs-13 {
    font-size: 1.82925vh !important;
}

.fs-14 {
    font-size: 1.96875vh;
}

.fs-15 {
    font-size: 2.109375vh;
}

.fs-16 {
    font-size: 2.25vh;
}

.fs-17 {
    font-size: 2.390625vh;
}

.fs-18 {
    font-size: 2.53125vh;
}

.fs-19 {
    font-size: 2.671875vh;
}

.fs-20 {
    font-size: 2.8125vh;
}

.fs-21 {
    font-size: 2.95425vh;
}

.fs-22 {
    font-size: 3.09375vh;
}

.fs-23 {
    font-size: 3.2355vh;
}

.fs-24 {
    font-size: 3.375vh;
}

.fs-25 {
    font-size: 3.515625vh;
}

.fs-30 {
    font-size: 4.506000vh;
}

.fs-43 {
    font-size: 6.046875vh;
}

.fs-60 {
    font-size: 8.4375vh;
}

.fs-64 {
    font-size: 9vh;
}



.color-green-0 {
    color: var(--green-0);
}

/* margin class  */
.margin-0 {
    margin: 0 !important;
}

.margin-1 {
    margin: 0.5625vh !important;
}

.margin-2 {
    margin: 1.125vh !important;
}

.margin-3 {
    margin: 1.6875vh !important;
}

.margin-4 {
    margin: 2.25vh !important;
}

.margin-5 {
    margin: 2.8125vh !important;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.margin-top-1 {
    margin-top: 0.5625vh !important;
}

.margin-top-2 {
    margin-top: 1.125vh !important;
}

.margin-top-3 {
    margin-top: 1.6875vh !important;
}

.margin-top-4 {
    margin-top: 2.25vh !important;
}

.margin-top-41 {
    margin-top: 3.25vh !important;
}

.margin-top-5 {
    margin-top: 2.8125vh !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-1 {
    margin-bottom: 0.5625vh !important;
}

.margin-bottom-2 {
    margin-bottom: 1.125vh !important;
}

.margin-bottom-3 {
    margin-bottom: 1.6875vh !important;
}

.margin-bottom-4 {
    margin-bottom: 2.25vh !important;
}

.margin-bottom-5 {
    margin-bottom: 2.8125vh !important;
}

.margin-left-0 {
    margin-left: 0 !important;
}

.margin-left-1 {
    margin-left: 0.5625vh !important;
}

.margin-left-2 {
    margin-left: 1.125vh !important;
}

.margin-left-3 {
    margin-left: 1.6875vh !important;
}

.margin-left-4 {
    margin-left: 2.25vh !important;
}

.margin-left-5 {
    margin-left: 2.8125vh !important;
}

.margin-right-0 {
    margin-right: 0 !important;
}

.margin-right-1 {
    margin-right: 0.5625vh !important;
}

.margin-right-2 {
    margin-right: 1.125vh !important;
}

.margin-right-3 {
    margin-right: 1.6875vh !important;
}

.margin-right-4 {
    margin-right: 2.25vh !important;
}

.margin-right-5 {
    margin-right: 2.8125vh !important;
}

.margin-right-6 {
    margin-right: 3.375vh !important;
}

.margin-top-bottom-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.margin-top-bottom-1 {
    margin-top: 0.5625vh !important;
    margin-bottom: 0.5625vh !important;
}

.margin-top-bottom-2 {
    margin-top: 1.125vh !important;
    margin-bottom: 1.125vh !important;
}

.margin-top-bottom-3 {
    margin-top: 1.6875vh !important;
    margin-bottom: 1.6875vh !important;
}

.margin-top-bottom-4 {
    margin-top: 2.25vh !important;
    margin-bottom: 2.25vh !important;
}

.margin-top-bottom-5 {
    margin-top: 2.8125vh !important;
    margin-bottom: 2.8125vh !important;
}

.margin-left-right-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.margin-left-right-1 {
    margin-left: 0.5625vh !important;
    margin-right: 0.5625vh !important;
}

.margin-left-right-2 {
    margin-left: 1.125vh !important;
    margin-right: 1.125vh !important;
}

.margin-left-right-3 {
    margin-left: 1.6875vh !important;
    margin-right: 1.6875vh !important;
}

.margin-left-right-4 {
    margin-left: 2.25vh !important;
    margin-right: 2.25vh !important;
}

.margin-left-right-5 {
    margin-left: 2.8125vh !important;
    margin-right: 2.8125vh !important;
}

.margin-left-right-6 {
    margin-left: 3.375vh !important;
    margin-right: 3.375vh !important;
}

.margin-right-0-31 {
    margin-right: 0.703125vh;
}

.margin-bottom-0-31 {
    margin-bottom: 0.703125vh;
}

.margin-top-1-25 {
    margin-top: 2.8125vh;
}

.margin-bottom-0-63 {
    margin-bottom: 0.63rem;
}

/* padding classes */

.padding-0 {
    padding: 0 !important;
}

.padding-1 {
    padding: 0.5625vh !important;
}

.padding-2 {
    padding: 1.125vh !important;
}

.padding-3 {
    padding: 1.6875vh !important;
}

.padding-4 {
    padding: 2.25vh !important;
}

.padding-5 {
    padding: 2.8125vh !important;
}


.padding-top-0 {
    padding-top: 0 !important;
}

.padding-top-1 {
    padding-top: 0.5625vh !important;
}

.padding-top-2 {
    padding-top: 1.125vh !important;
}

.padding-top-3 {
    padding-top: 1.6875vh !important;
}

.padding-top-4 {
    padding-top: 2.25vh !important;
}

.padding-top-5 {
    padding-top: 2.8125vh !important;
}

.padding-bottom-0 {
    padding-bottom: 0 !important;
}

.padding-bottom-1 {
    padding-bottom: 0.5625vh !important;
}

.padding-bottom-2 {
    padding-bottom: 1.125vh !important;
}

.padding-bottom-3 {
    padding-bottom: 1.6875vh !important;
}

.padding-bottom-4 {
    padding-bottom: 2.25vh !important;
}

.padding-bottom-5 {
    padding-bottom: 2.8125vh !important;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.padding-left-1 {
    padding-left: 0.5625vh !important;
}

.padding-left-2 {
    padding-left: 1.125vh !important;
}

.padding-left-3 {
    padding-left: 1.6875vh !important;
}

.padding-left-4 {
    padding-left: 2.25vh !important;
}

.padding-left-5 {
    padding-left: 2.8125vh !important;
}

.padding-right-0 {
    padding-right: 0 !important;
}

.padding-right-1 {
    padding-right: 0.5625vh !important;
}

.padding-right-2 {
    padding-right: 1.125vh !important;
}

.padding-right-3 {
    padding-right: 1.6875vh !important;
}

.padding-right-4 {
    padding-right: 2.25vh !important;
}

.padding-right-5 {
    padding-right: 2.8125vh !important;
}

.padding-top-bottom-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.padding-top-bottom-1 {
    padding-top: 0.5625vh !important;
    padding-bottom: 0.5625vh !important;
}

.padding-top-bottom-2 {
    padding-top: 1.125vh !important;
    padding-bottom: 1.125vh !important;
}

.padding-top-bottom-3 {
    padding-top: 1.6875vh !important;
    padding-bottom: 1.6875vh !important;
}

.padding-top-bottom-4 {
    padding-top: 2.25vh !important;
    padding-bottom: 2.25vh !important;
}

.padding-top-bottom-5 {
    padding-top: 2.8125vh !important;
    padding-bottom: 2.8125vh !important;
}

.padding-left-right-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padding-left-right-1 {
    padding-left: 0.5625vh !important;
    padding-right: 0.5625vh !important;
}

.padding-left-right-2 {
    padding-left: 1.125vh !important;
    padding-right: 1.125vh !important;
}

.padding-left-right-3 {
    padding-left: 1.6875vh !important;
    padding-right: 1.6875vh !important;
}

.padding-left-right-4 {
    padding-left: 2.25vh !important;
    padding-right: 2.25vh !important;
}

.padding-left-right-5 {
    padding-left: 2.8125vh !important;
    padding-right: 2.8125vh !important;
}